.welcome .welcome-footer-padded{
    display:none;
}
.welcome .welcome-footer{
    height: 100px;
}
.welcome{
    z-index: 10;
}
.welcome .header{
    background-image: linear-gradient(0deg,rgba(0,0,0,.2),rgba(0,0,0,.2)),url(../images/imageb.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    padding-bottom: 0;
    background-color: #131519;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transform: translatey(-20px);
}
.welcome .welcome-footer{
    background: #131519;
    color: #fff;
    margin-top: 40px;
    position: relative;
    /*height: 700px;*/
}
.welcome .welcome-card-row {display:none;}
.welcome .tab-container .tab-content{display:none;}
.welcome .welcome-card-row {display:none;}

/*disable jitsi meet video div, to show 3d meeting room*/
#videoconference_page #videospace{display: none;}
.welcome .header .header-text-subtitle {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;
    margin: 16px 0 20px 0;
    text-align: center;
    padding-top: 40px;
}
.welcome .header .header-text-title{transform: translateX(-1%);}

body.welcome-page {
    overflow: hidden;
}

#gazePauser{
    position: absolute;
    z-index: 2;
}

#webgazerVideoContainer{
    display: none !important;
}